<div class="col s12">
	<h4 id="portfolio">Portfolio</h4>
	<hr>
	<div class="row">
		<div class="col s12 m6 l4 portfolio">
	    <div>
	     <div class="card">
			  	<div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="<%= asset_path 'Screen Shot 2015-09-16 at 1.35.57 pm.png' %>">
			  	</div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Untitled<i class="material-icons right">more_vert</i></span>
			      <p class="text-center"><a href="#">Website</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">Untitled<i class="material-icons right">close</i></span>
			      <p>This project is my best so far. It is a market for buying and selling resumes/cover letters. Have a look at this one first! While unfinished, I am using github to manage the different versions and features I'm developing. I deploy the most advanced working version to heroku almost every day for my business partner to give his opinion on. </p>
	        	<p class="in-progress">In progress</p>
			    </div>
			  </div>
	    </div>
	  </div>
	  <div class="col s12 m6 l4 portfolio">
		  <div class="card">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="<%= asset_path 'Screen Shot 2015-09-12 at 4.33.22 pm.png' %>">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Goal Bunny<i class="material-icons right">more_vert</i></span>
		      <p class="text-center"><a href="http://shielded-oasis-7413.herokuapp.com">Website</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
		      <p>Goal Bunny is my first major project designed to be released. It has been developed over a long period of time and so has a mix of my earlier clunky code and some of my more recent refined code. It features custom made methods, stripe payments, mailers and admin functions. At the moment I have limited sign ups to require authorisation but you can use this login to have a look: </p>
					<p>user: test@example.com</p>
					<p>password: testing123</p>
	        <p class="in-progress">In progress</p>
		    </div>
		  </div>
	  </div>
	  <div class="col s12 m6 l4 portfolio">
		  <div class="card">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="<%= asset_path 'Screen Shot 2015-09-12 at 4.34.09 pm.png' %>">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Industry Check<i class="material-icons right">more_vert</i></span>
		      <p class="text-center"><a href="http://industry-check.herokuapp.com">Website</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Industry Check<i class="material-icons right">close</i></span>
		      <p>Industry Check is an entry I prepared overnight for GovHack 2015. The entry won the hackathon's award for "Most useful product or service for the public". The code is not as complicated as my other projects but it shows a different style. The video explains the concepts behind my idea. The link is just a simple mock up of my concept. </p>
	        <p class="text-center"><a href="https://www.youtube.com/watch?v=eGO2kvpwx9A&feature=youtu.be">Submission video link</a></p>
	        <p>Complete, but I plan to recreate a proper version</p>
		    </div>
		  </div>
	  </div>
	  <div class="col s12 m6 l4 portfolio">
		  <div class="card">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="<%= asset_path 'hacktheuni.png' %>">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Hack the University<i class="material-icons right">more_vert</i></span>
		      <p class="text-center"><a href="http://hackthe.university">Website</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Hack the University<i class="material-icons right">close</i></span>
		      <p>Hack the University is the website for Coder Factory's Hack the University Hackathon to be held 30/09/15. The site was co-developed by myself and Pete Argent. I was responsible for developing the team collaboration and submission functionality.</p>
	        <p>Complete</p>
		    </div>
		  </div>
	  </div>
	</div>
</div>

<div class="col s12">
	<h4 id="bio">Bio</h4>
			<hr>
	<div class="row">
		<div class="col s12 m9 l9">
			<p>
				Jamie Cerexhe is a business owner, web developer and coding teacher. While not in the office, he is always on the lookout his next business idea. Having worked in many different industries, such as health, hospitality, retail and defence, he believes that startup opportunities are everywhere. Jamie speaks Indonesian and spends a few months there every year. 
			</p>
			<p>
				Recently, Jamie won a prize in GovHack 2015 for "Most useful product or service for the public". He is currently developing a new recruitment startup for release by the end of the year. 
			</p>
		</div>
		<div class="col s12 m3 l3">
			<%= image_tag 'jamie_cerexhe.jpg', alt: '', title: '', class: 'img-thumbnail z-depth-1' %>
		</div>
	</div>
</div>

<div class="col s12">
	<h4 id="contact">Contact me</h4>
	<hr>
	<div class="row">
		<div class="col s12 m6">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d52998.62966043562!2d151.22807561063078!3d-33.87898095219076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sau!4v1442146303426" width="100%" height="300" frameborder="0" style="border:0" class="z-depth-1 hide-on-small-only" allowfullscreen></iframe>
		</div>
		<div class="col s12 m6">
			<%= render 'contacts/form' %>
		</div>
	</div>
</div>

